@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.HomeWrapper{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    background-image: url(../imgs/homebg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    font-family: Helvetica;
}

.Initial-Text{
    font-family: 'Roboto', sans-serif;
}