@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.PhotoBox{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
    border: 8px solid rgba(176, 176, 201, 0.74);
    margin: 20px 0 20px 0;
}

.PhotoBox:hover{
    border: 8px solid rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.7s;
}

img{
    width: 100%;
    height: 100%;
}

.Photo-Text{
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1.3rem;
    user-select: none;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(43, 43, 44, 0.904);
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal-content{
    width: 90%;
    max-width: 1200px;
    background-color: rgb(235, 235, 252);
    border: 3px solid black;
    border-radius: 8px;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }