.PhotoBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
    margin: 20px 40px;
    border: 8px solid rgb(176, 176, 201);
}

img{
    width: 400px;
    height: 300px;
}