.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  /*background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);*/
  overflow-x: hidden;
  font-family: Helvetica;
}

body{
  background-image: url('./imgs/home.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

header{
  display: flex;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
}

header h1{
  font-size: 3.5rem;
  text-align: center;
}

.content-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Initial-Text{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.3rem;
  text-align: center;
  user-select: none;
}

.menu{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0 30px 0;
}

.menu .menu-link{
  color: white;
  text-decoration: none;
  padding: 0 15px;
  margin: 0 20px;
  font-size: 1.3rem;
  user-select: none;
}

.menu .menu-link:hover{
  transition: 0.8s;
  color: rgb(71, 129, 255);
  text-decoration: underline #fff;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
   background: #f1f1f100;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

@media (max-width: 700px)
{
  .menu{
    flex-direction: column;
    margin: 2px 0;
   }

   .menu .menu-link{
    padding: 10px 0;
   }
}