.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  font-family: Helvetica;
}

header{
  display: flex;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0 30px 0;
}

.menu ul{
  display: flex;
  min-width: 300px;
}
.menu ul li{
  margin: 0 10px 0 10px;
}

.menu ul li a{
  text-decoration: transparent;
  color: #fff;
  display: block;
  padding: 10px;
  font-size: 1.2rem;
}

.menu ul li a:hover{
  text-decoration: 3px underline;
  transition: 1s;
}

.content-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.Initial-Text{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
}