.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  font-family: Helvetica;
}

header{
  display: flex;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header h1{
  font-size: 3.5rem;
  text-align: center;
}

.content-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.Initial-Text{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
}

.menu{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0 30px 0;
}

.menu .menu-link{
  color: white;
  text-decoration: none;
  padding: 0 15px;
  margin: 0 20px;
  font-size: 1.2rem;
}

.menu .menu-link:hover{
  color: tomato;
}

@media (max-width: 700px)
{
  .menu{
    flex-direction: column;
    margin: 2px 0;
   }

   .menu .menu-link{
    padding: 10px 0;
   }
}